.sidenav{
  font-size: inherit;
  position: absolute;
  top: 0;
  width: 10em;
  left: 0;
  display: block;
}

.blue{
  color: blue;
}

.well{
  margin-left: 0px;
}

.bullets{
  color: blue;
  margin-top: 20px;
}

body{
  background-color: #f2f2f2;
}
